rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedInEditor() { return request.auth != null && request.auth.token.editor == true; }
    match /{document=**} {
      allow read: if true;
      allow create, update, delete: if signedInEditor();
    }
  }
}
